<%# We're not using the rails form helper here on purpose.
  # It simply doesn't mix at all with cells views.
  #%>
<form action="<%= form_url %>"
      method="post"
      id="<%= row.position_css_id %>-form"
      class="<%= row.toggle_item_class_name %>"
      style="display:none"
      accept-charset="UTF-8"
>
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p style="margin-bottom: 10px;">
    <%= text_field_tag "member[position]", row.member.profile&.position %>
  </p>
  <p>
    <%= submit_tag t(:button_change), class: "button -highlight -small" %>
    <%= link_to t(:button_cancel),
                '#',
                data: { 'toggle-target': ".#{row.toggle_item_class_name}" },
                class: 'button -small toggle-membership-button' %>
  </p>
</form>
